.detail img{
    width: 80%;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.detail p{
    width:80%;
}
.event-detail{
    position: relative;
}
.event-detail h2::before{
    content: "";
    width: 17.6%;
    height: 3px;
    background-color: var(--color-primary);
    top: 36px;
    left: 41.3%;
    position: absolute;

}